.hidden {
    display: none;
}

.topcoat-list__container img {
    padding: 8px;
    vertical-align: middle;
    border-radius:16px;
}
.topcoat-navigation-bar__title img {
    padding: 8px;
    vertical-align: middle;
    height:32px;
}
.topcoat-list__container audio {
    vertical-align: middle;
    padding-left: 8px;
}

#edit img {
    border-radius:8px;
}

.footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:56px;
}
